---
layout: default
---

article#post.post
  header.entry-header
    h1= document.title
    p
      span.author= getAuthor(document)
      = " on "
      span.when= document.date.toDateString()
  .post-content.entry-content!= content

unless !document.survey
  iframe(src=document.survey, width="650", height="550")

footer
  if document.relatedDocuments && document.relatedDocuments.length
    section#related
      h3 Related Posts
      nav.linklist
        each doc in document.relatedDocuments
          li
            span= doc.date.toDateString()
            |  &raquo;&nbsp;
            a(href='.' + doc.url)= doc.title
= partial('comments.html.eco')
